.topoverview { 
    display: flex;
    justify-content: center;
    position: sticky;
    top: 10px;
}

.topoverview button {
    font-size: 25px;
    width: 50%;
    height: 4rem;
}

.isActive {
    background-color: orange;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}